<%- include('../partials/header.ejs')  %> 

<div class="container">
    <h1>Quizly - Dashboard</h1>
    <div class="d-flex justify-content-between align-items-center mt-5 mb-3">
        <h2>Your Quizzes</h2>
        <a href="/quiz/create" class="btn text-light" style="background-color: #706677;">Create Quiz +</a>
    </div>
    <table class="table table-bordered" style="border-color: black;">
        <thead>
            <tr style="background-color: #a6808c;">
                <th>Title</th>
                <th>Submissions</th>
                <th>Average Score</th>
            </tr>
        </thead>
        <tbody style="background-color: #ccb7ae;">
            <% for( let quiz of user.quizzes ) { %>
                <tr>
                    <td>
                        <a href="/quiz/<%= quiz.slug %> "><strong><%= quiz.title %> </strong></a>
                        <br>
                        <small><%= quiz.description %> </small>
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        100%
                    </td>
                </tr>
            <% } %> 
        </tbody>
    </table>
</div>

<%- include('../partials/footer.ejs')  %> 